body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #A1E3F9, black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    animation: fadeIn 1.5s ease-in-out;
    width: 600px;
}
.form-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    animation: slideIn 1.2s ease-in-out;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea, select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}
input:focus, textarea:focus, select:focus {
    transform: scale(1.05);
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background: rgb(211, 80, 80);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.submit-btn:hover {
    color: #112075;
    background: rgb(248, 248, 248);
    border-radius: 10px;
    transform: scale(1.5);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }

}
