
body {
    background-color: #28aca1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
h1 {
    text-shadow: 2px 2px 10px rgba(2, 2, 2, 0.8);
}
h1:hover {
    transition: background 0.3s, transform 0.2s;
}

.board { 

     
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #1e1e1e;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
.cell:hover {
    background-color: #333;
    transform: scale(1.1);
}
.cell.taken {
    cursor: not-allowed;
}
.winner {
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #ffcc00;
    }
    to {
        text-shadow: 0 0 20px #ffcc00;
    }
}
#reset {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
  font-style: oblique;
  font-weight: 500;
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s;
    
}
#reset:hover {
    transform: scale(1.1);
}
